<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="CC" connectionString="Data Source=LAPTOP-8VECMACJ\SQLEXPRESS;Initial Catalog=Role_DB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="LoginForm.Properties.Settings.databazaConnectionString"
   connectionString="Data Source=LAPTOP-8VECMACJ\SQLEXPRESS;Initial Catalog=databaza;Integrated Security=True;Pooling=False"
   providerName="System.Data.SqlClient" />
  <add name="LoginForm.Properties.Settings.databaseConnectionString"
   connectionString="Data Source=LAPTOP-8VECMACJ\SQLEXPRESS;Initial Catalog=database;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>